.p_wrap{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
#lr{
    background-color: teal;
    padding-bottom: 1px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    border:1px solid black;
    width: 100%;
    max-width: 580px;
    color: floralwhite;
    text-shadow: 1px 1px black;
}
.task2,.task1{
    border: 1px solid black;
   
    background-color: oldlace;
    border-radius: 10px;
    width: 600px;

}
.task1{
    height: 420px;
}
.task2{
    height: 320px;
}
.label{
    color:rgb(44, 43, 43);
    font-size: 15px;
    display: flex;
    justify-content: center;

}
#calc1,#calc2{
    display: flex;
    justify-content: center;
}
.h_3{
    display: flex;
    justify-content: center;
}


p{
    text-align: center;
}
#result2,#result1{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
    
}


button{
    margin-top: 20px;
    background-color: lightblue;
    border: 1px solid lavender;
    border-radius: 9px;
  
}
button:hover{
    background-color: rgb(70, 131, 180);
    transition: 0,2;
}
/* .task1{
    float: left;
   
}
.task2{
    float: right; */

h3{
    color: rgb(30, 6, 34);
    background-color:white;
    text-align: center;
    border-radius: 15%;
    border: 1px solid black;
    width: 150px;
}
input{
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.lr {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.task_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (max-width: 768px) {
    .lr {
        flex-direction: column;
        align-items: start;
        gap: 20px;   
        padding-left: 30px;
        padding-right: 30px;
    }
}



.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.menu-item {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
}

.menu-item a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 15px 20px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
}

